:root {
    --header-height: 3.5rem;
    --black-color: #000000;
    --white-color: #ffffff;
    --ash-color: #5e5e5e;
    --grey-text: #303030;
    --primary-color: #00c9c8;
    --orange-color: #e2b659;
    --off-white: #faf7ff;
    --light-primary-color: #bffcf9;
    --action-color: #0C134F;
    --yellow-color: #fff200;
    --light-red: #ffa6a6;
    --red-color: #ff0000;
    --facebook-blue: #405DE6;
    --instagram-orange: #F56040;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
    font-weight:300;
    src: local('Open Sans'), local('Open-Sans'), url('/css/fonts/OpenSans-Light.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

input, textarea, button {
    outline: none;
    border: none;
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    color: var(--action-color);
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

section {
    padding-block: 5rem 2rem;
}

.section__title, .section__subtitle {
    text-align: center;
    color: var(--black-color);
    font-weight: 400;
}

.section__title {
    font-size: 24px;
    margin-bottom: 1.5rem;
}

.container {
    max-width: 1120px;
    margin-inline: 5rem;
}


/* .header {
    position: fixed;
    width: 100%;
    background-color: var(--action-color);
    top: 0;
    left: 0;
    z-index: 1;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--white-color);
    font-weight: 400;
}

.nav__toggle,
.nav__close {
    display: flex;
    font-size: 1.25rem;
    color: var(--white-color);
    cursor: pointer;
}

.nav__close, .nav__toggle {
    display: none;    
}

.nav__list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.nav__link {
    color: var(--white-color);
    font-weight: 400;
    transition: color 0.4s;
}

.nav__link:hover {
    color: var(--orange-color);
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
} */

/* Show menu */
/* .show-menu {
    right: 0;
} */


/* .banner__tag {
    margin: 2rem 0;
} */

/* .banner__body {
    margin: 5rem 6rem 2rem 6rem ;
} */

/* .banner__tag {
    display: flex;
    justify-content: center;
} */

/* .banner__tag h1 {
    text-align: center;
    font-size: 50px;
    text-wrap: balance;
    line-height: 3rem;
} */

/* .header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 6rem;
    column-gap: 2rem;
} */

/* .btn__one button {
    color: var(--white-color);
    background-color: var(--action-color);
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: ease .5s;
} */

/* .btn__one button:hover {
    color: var(--black-color);
    background-color: var(--orange-color);
} */

/* .btn__two button {
    color: var(--black-color);
    background-color: var(--white-color);
    cursor: pointer;
    transition: ease .5s;
} */

/* .btn__two button:hover {
    color: var(--orange-color);
} */



nav {
    display: flex;
    /* position: fixed; */
    justify-content: space-between;
    align-items: center;
    background-color: var(--off-white);
    padding: 10px 6rem;
}

.logo img {
    max-width: 80px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    color: var(--action-color);
    cursor: pointer;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: var(--action-color);
    transition: ease-in .5s;
}

.menu a:hover {
    color: var(--orange-color);
}

.menu-toggle, .close-toggle {
    display: none;
    font-size: 24px;
    color: var(--action-color);
    cursor: pointer;
    position: absolute;
    right: 6rem;
    top: 20px;
    transition: ease-out .5s;
}

.banner__container {
    margin: 5rem 6rem 2rem 6rem;
}

.banner__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5rem;
}

.banner__leftsection {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.hero__tag {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.hero__tag h1 {
    font-size: 50px;
}

.order__form {
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* box-shadow: -5px 10px 11px -1px rgba(143,136,136,0.7);
    -webkit-box-shadow: 1px 10px 11px -1px rgba(143,136,136,0.7);
    -moz-box-shadow: 1px 10px 11px -1px rgba(143,136,136,0.7); */
}

.order__form form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.where__to, .phone__details, .order__button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

.where__to input, .phone__details input {
    border: var(--action-color) solid 1px;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
}

.order__button button {
    color: var(--white-color);
    background-color: var(--action-color);
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in .5s;
}

.order__button button:hover {
    color: var(--black-color);
    background-color: var(--orange-color);
}

.banner__image {
    max-width: 600px;
    object-fit: cover;
}

.business__logos {
    background-color: var(--off-white);
    width: 100%;
    padding: 30px;
    /* border-radius: 0 50px 50px 0; */
}

.clients__imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    /* flex-wrap: wrap; */
    margin: 0 3rem;
}

.clients__imgs h2 {
    color: var(--ash-color);
    transition: ease .5s;
}

.clients__imgs h2:hover {
    color: var(--grey-color);
}

.banner__list {
    display: flex;
    flex-direction: row;
    row-gap: 2rem;
    justify-content: space-between;
    margin: 3rem 6rem;
}

.banner__list__item {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    column-gap: 2rem;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #faf7ff, #fbf9ff, #fcfbff, #fefdff, #ffffff);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    transition: ease-out 0.5s;
}

.banner__list__item:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.banner__list__item h5 {
    text-align: center;
}

.banner__img {
    width: 80px;
}

.banner__img img {
    border: var(--action-color) 2px solid;
    border-radius: 50%;
}

.about__section {
    margin: 5rem 6rem 0 6rem;
}

.about__info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    column-gap: 6rem;
}

.about__text {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 5rem;
}

.about__text p {
    line-height: 30px;
}

.about__text a {
    color: var(--action-color);
    transition: ease-in .5s;
}

.about__text a:hover {
    color: var(--orange-color);
}

.services__section {
    margin: 5rem 6rem;
}

.services__section h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.services__container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    row-gap: 2rem;
    column-gap: 2rem;
}

.services__area {
    display: block;
    padding: 15px;
    background-color: var(--white-color);
    border-radius: 10px;
    /* padding: 20px 10px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.service__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem 0;
}

.service__header img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: var(--action-color) 2px solid;
}

.client__count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client__count p {
    font-size: 12px;
    color: var(--grey-text);
}

.client__count h4, .service__text h4 {
    font-weight: bold;
}

.service__text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 10px;
}

.service__text p {
    line-height: 25px;
}

.service__buttom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__buttom .ratings i {
    font-size: 8px;
    color: var(--yellow-color);
}

/* .service__buttom .serv__btn {
    
} */

/* .service__buttom .serv__btn:hover {

    background-color: var(--black-color);
    color: var(--white-color);
} */

.service__buttom .serv__btn a {
    display: flex;
    align-items: center;
    background-color: var(--light-red);
    padding: 5px;
    border-radius: 10px;
    color: var(--red-color);
    transition: ease-in .5s;
}

.service__buttom .serv__btn a:hover {
    color: var(--white-color);
    background-color: var(--black-color);
}

.ben__text{
    margin-bottom: 1rem;
    display:-webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.testimonial-container {
    background-color: var(--off-white);
    color: var(--grey-text);
    text-align: center;
    padding: 3rem;
    margin-top: 5rem;
}

.testimonial-container h2{
    text-align: center;
    margin-bottom: 2rem;
}

#testimonial-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: var(--action-color) 2px solid;
    margin-bottom: 1rem;
}


#testimonial-text {
    font-size: 1rem;
    color: var(--black-color);
    font-weight: 400;
    margin-bottom: 1rem;
}
#author {
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 1rem;
}
#prev-btn, #next-btn {
    background-color: var(--action-color);
    border: none;
    color: var(--white-color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: ease-in .5s;
}
#prev-btn:hover, #next-btn:hover {
    background-color: var(--orange-color);
}

.news__container {
    margin: 5rem 6rem 0 6rem;
    
}

.news__letter {
    background-image: url("../images/background-01222.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    align-items: center;
    padding: 40px 0;
}

.news__letter form input {
    padding: 10px 30px;
    border-radius: 10px 0 0 10px;
    border: none;
}

.news__letter form button {
    padding: 10px 30px;
    border-radius: 0 10px 10px 0px;
    border: none;
    background-color: var(--action-color);
    color: var(--white-color);
    transition: ease-in .5s;
}

.news__letter form button:hover {
    background-color: var(--white-color);
    color: var(--action-color);
}

.footer__container {
    margin: 5rem 0 0 0;
    background-color: var(--off-white);
    color: var(--black-color);
}

.footer__container p {
    line-height: 20px;
}

.footer__section {
    margin: 0 6rem;
    /* display: flex; */
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, auto);
    /* flex-direction: row; */
    justify-content: space-between;
    column-gap: 4rem;
}

.footer__about, .footer__statement {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer__about img {
    width: 30%;
    object-fit: cover;
}

.social__section {
    display: flex;
    column-gap: 1rem;
}

.social__section i {
    font-size: 25px;
    cursor: pointer;
    transition: ease-in .5s;
}

.social__section i:nth-child(1):hover {
    color: var(--facebook-blue);
}
.social__section i:nth-child(2):hover {
    color: var(--instagram-orange);
}
.social__section i:nth-child(3):hover {
    color: var(--facebook-blue);
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* text-align: center; */
}

.footer__links h3 {
    color: var(--primary-color);
}

.footer__links ul li {
    margin-bottom: 1rem;
}

.footer__links ul li a {
    color: var(--black-color);
}

.footer__statement h3, .footer__resource h3 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.footer__resource p {
    margin-bottom: 1rem;
}

.footer__resource-ul li {
    list-style: disc;
    margin-left: 2rem;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 0.5rem 0;
    flex-wrap: wrap;
    margin: 0 3rem 0 3rem;
    text-align: center;
}

.footer__copyright a {
    color: var(--primary-color);
    transition: ease-in .5s;
}

.footer__copyright a:hover {
    color: var(--orange-color);
}


/* About Section Start */

.header__about {
    display: flex;
    justify-content: center;
    /* background-color: var(--off-white); */
    background-image: linear-gradient(to bottom, #faf7ff, #faf7ff, #faf7ff, #faf7ff, #faf7ff, #f8f5ff, #f7f3ff, #f5f1ff, #f0edff, #ebe9ff, #e5e5ff, #dee1ff);
}

.header__about h1 {
    margin: 3rem 0;
}

.about__body {
    margin: 5rem 6rem 0 6rem;
    display: flex;
    gap: 5rem;
    justify-content: center;
}

/* .about__img-about img {
    max-width: 500px;
} */

.about__contents {
    margin: 6rem 0 0 0;
}

.about__contents p {
    line-height: 30px;
}

.statement__section {
    display: flex;
    margin: 5rem 6rem 0 6rem;
    gap: 2.5rem;
    /* justify-content: space-between; */
}

.statement__one {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    border-right: var(--action-color) 1px solid;
    padding-right: 2.5rem;
}

.statement__one h2, .statement__two h2 {
    color: var(--action-color);
    margin-bottom: .8rem;
}

.statement__two {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.statement__two ul li {
    
}

.statement__two ul li {
    list-style: disc;
    margin-left: 2rem;
    line-height: 30px;
}

.statement__one p, .statement__two p {
    line-height: 25px;
}



/* About Section End */

/* Service Section Start */

.services__containers {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    row-gap: 2rem;
    column-gap: 2rem;
}

/* .services__areas {
    border: 0px inset rgba(100, 100, 100, 1);
    border-radius: 4px;
    box-shadow: inset 0px -2px 4px 0px rgba(0, 0, 0, 0.3);
} */

.service__headers img {
    border-radius: 5px;
}

.service__texts h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 1rem 0;
    text-align: center;
}

.service__texts p {
    line-height: 30px;
}

.objective__section {
    margin: 5rem 6rem 5rem 6rem;
}

.objective__section h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.obj__area {
    display: grid;
    grid-template-columns: repeat(3, auto);
    /* flex-direction: row; */
    gap: 2rem;
}

.obj__container h4 {
    margin: 1rem 0;
    font-weight: bold;
    text-align: center;
}

.obj__container p {
    line-height: 25px;
}


/* Service Section End */

/* Contact Section Start */
.contact__section {
    margin: 5rem 6rem 5rem 6rem;
}

.contact__section h2 {
    text-align: center;
    margin-bottom: 5rem;
}

.contact__container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5rem;
}

.address__book {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.address__book i {
    padding-right: 5px;
    color: var(--action-color);
}

.form__con {
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form__con form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.form__con form input, .form__con form textarea {
    border: var(--ash-color) .5px solid;
    padding: 10px;
    border-radius: 10px;
}

.map__container {
    border: var(--orange-color) 1px solid;
}


/* Contact Section End */


@media only screen and (min-width: 1300px) {
    .hero__tag h1 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1200px) {
    .hero__tag {
        
    }
    .hero__tag h1 {
        font-size: 25px;
        font-weight: 500;
    }
    .banner__image img {
        object-fit: cover;
        width: 800px;
        height: 320px;
    }
    .about__contents {
        margin-top: 0;
    }
    .services__container {
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width: 992px) {
    .hero__tag h1 {
        font-size: 50px;
        text-align: center;
    }
    .hero__tag p {
        text-align: center;
    }
    .banner__section {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
    }
    .banner__image img {
        display: none;
    }
    .banner__list {
        margin: 3rem 3rem 3rem 3rem;
    }
    .about__section {
        margin: 3rem 3rem 3rem 3rem;
    }
    .about__info, .about__body {
        column-gap: 2rem;
    }
    .about__contents {
        margin-top: 0;
    }
    .about__text {
        margin-top: 2rem;
    }
    .about__image img, .about__img-about img {
        max-width: 300px;
    }
    .services__section {
        margin: 5rem 3rem;
    }
    .footer__section {
        margin: 0 6rem;
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
        row-gap: 2rem;
    }
}

@media screen and (max-width: 886px) {
    .about__body {
        flex-direction: column-reverse;
        row-gap: 2rem;   
    }
    .about__img-about img {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        padding: 15px;
        background-color: var(--off-white);
        position: fixed;
        top: 70px;
        right: 0;
        width: 50%;
        height: 100vh;
        z-index: 1;
        transition: right .5s;
    }
    .menu.active {
        display: flex;
    }
    .menu li {
        margin: 10px 0
    }

    .menu-toggle {
        display: block;
        font-size: 24px;
        color: var(--action-color);
        cursor: pointer;
        /* position: fixed; */
        top: 20px;
        right: 6rem;
        z-index: 2;
    }
    .banner__container {
        margin: 5rem 3rem 2rem 3rem;
    }
    .banner__list {
        margin: 3rem 1rem;
    }
    .hero__tag h1 {
        font-size: 40px;
    }
    .about__info {
        flex-direction: column;
        row-gap: 2rem;
    }
    .about__text {
        text-align: center;
    }
    .about__image {
        display: flex;
        justify-content: center;
    }
    .about__image img { 
        max-width: 80%;
    }
    .about__body {
        margin: 5rem 3rem 5rem 3rem;
    }
    .services__section {
        margin: 5rem 3rem 5rem 3rem;
    }
    .objective__section {
        margin: 5rem 3rem 5rem 3rem;
    }
    .contact__container {
        grid-template-columns: repeat(1, auto);
        gap: 5rem;
    }
   
}

@media only screen and (min-width: 600px) {

}

@media only screen and (max-width: 600px) {
    nav {
        padding: 10px 2rem;
    }
    .menu-toggle, .close-toggle {
        right: 2rem;
    }
    .hero__tag h1 {
        font-size: 30px;
    }
    .clients__imgs {
        flex-direction: column;
        row-gap: 1rem;
    }
    .banner__list {
        flex-direction: column;
        row-gap: 2rem;
        align-items: center;
    }
    .banner__list__item {
        width: 100%;
    }
    .statement__section {
        flex-direction: column;
    }
    .statement__one {
        border-right: none;
        border-bottom: var(--action-color) 1px solid;
        padding-bottom: 2.5rem;
    }
    .statement__one h2, .statement__two h2 {
        text-align: center;
    }
    .services__container, .services__containers {
        grid-template-columns: repeat(1, auto);
    }
    .obj__area {
        grid-template-columns: repeat(1, auto);
        gap: 2rem;
    }
    .news__container {
        margin: 5rem 3rem;
    }
    .footer__section {
        margin: 0 3rem;
        grid-template-columns: repeat(1, auto);
        /* justify-content: space-between; */
        row-gap: 2rem;
    }
    .footer__links {
        margin-left: 45%;
    }
    .contact__section {
        margin: 5rem 3rem 5rem 3rem;
    }
}

@media only screen and (max-width: 480px) {
    .where__to, .phone__details {
        flex-direction: column;
        row-gap: 1rem;
    }
    .news__letter h2 {
        text-align: center;
    }
    .news__letter form {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    .news__letter form input {
        border-radius: 10px;
    }
    .news__letter form button {
        border-radius: 10px;
    }
}
